PRIVY_APP_SECRET=""
NEXT_PUBLIC_PRIVY_APP_ID=""
NEXT_PUBLIC_PRIVY_CLIENT_ID=""

# API
NEXT_PUBLIC_API_URL="http://localhost:5000"

# Contract addresses (Hedera testnet)
NEXT_PUBLIC_HERENA_ADDRESS=""
NEXT_PUBLIC_PROOF_MANAGER_ADDRESS=""
NEXT_PUBLIC_VOTING_MANAGER_ADDRESS=""
NEXT_PUBLIC_STAKING_MANAGER_ADDRESS=""
NEXT_PUBLIC_SWAP_POOL_ADDRESS=""