PRIVY_APP_SECRET=""
NEXT_PUBLIC_PRIVY_APP_ID=""
NEXT_PUBLIC_PRIVY_CLIENT_ID=""

# API
NEXT_PUBLIC_API_URL="http://localhost:5000"
NEXT_PUBLIC_IPFS_GATEWAY="http://localhost:8080/ipfs"

NEXT_PUBLIC_PROOF_MANAGER_ADDRESS=""
NEXT_PUBLIC_VOTING_MANAGER_ADDRESS=""